#header{
    height: 100px;
    padding-left: 45%;
}

#row1,#row4{
    height: 400px;
}

#row2,#row3,#row5,#row6{
    height: 100px;
  }



/* 3x3 */
.cell{
    border: 2px solid #333;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    cursor: pointer;
}

/* 4x4 */
.block{
    border: 2px solid #333;
    border-radius: 10px;
    height: 80px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    cursor: pointer;
}

#grid3x3{
    padding-top: 20px;
    padding-left: 40%;
}

#grid4x4{

    padding-top: 20px;
    padding-left: 40%;
}

table{
    border-collapse: collapse;
    position: absolute;
    /* left: 50%; */
    /* margin-left: -155px; */
    /* top: 50px; */
}

.cell:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}

.block:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}

table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}

table tr td:first-child{
    border-left: 0;
}

table tr td:last-child{
    border-right: 0;
}

#wrapButtons{
  position: absolute;
  padding-left: 50%;
  margin-left: -220px;
    /* margin-top: 350px;
    left: 50%;
    margin-left: -220px; */
}

#reset{
    /*
    margin-left: -75px; */
    left: 45%;
    position: absolute;
    text-align: center;
    background-color: #f10707;
    width: 150px;
    border-radius: 25px;
    padding: 10px;
    /* margin-top: inherit;
    padding: 20px; */
    cursor: pointer;
}

#buttons li{
    float: left;
    list-style: none;
    text-align: center;
    background-color: aquamarine;
    width: 150px;
    border-radius: 25px;
    /* margin-top: inherit; */
    padding: 10px;
    cursor: pointer;
}
